{% extends "base.html" %}
{% load static %}
{% block title  %}
    Car Detail
{% endblock title %}

{% block content %}


<br>
<div class="card">
  <h5 class="card-header">Car Info</h5>
  <div class="card-body">
    {% if car.pic%}
				  <img src="{{car.pic.url}}" class="card-img-top" alt="..." class="img-fluid">
				  {% endif%}
    <h5 class="card-title">{{car.make}}</h5>
    <p class="card-text">{{car.model}} - {{car.year}}</p>
    <div class="row text-center">
        <div class="col-md-6">
            <a href="{% url 'car-update' car.id %}" class="btn btn-outline-primary btn-block">Update</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'car-delete' car.id %}" class="btn btn-outline-danger btn-block">Delete</a>
        </div>
    </div>
  </div>
</div>

{% endblock content %}

